.leagueHeaderContainer {
    display: flex;
    width: 70%;
    margin-top: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    /* background-color: white; */
}

.leagueInfo {
    display: flex;
    /* justify-content: space-between; */
}

.leagueInfoLogo {
    height: 60px;
    margin-right: 20px;

}

.leaguInfoText {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 20px;

}

.leagueInfoFlag {
    display: flex;
    align-self: center;
    height: 40px;

}

.ui.header.leagueInfoFlag {
    margin: 0px;
    padding-top: 10px;

}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .leagueInfoLogo {
        height: 40px;
        margin-right: 20px;
    }
    
    .leagueInfoFlag {
        display: flex;
        align-self: center;
        height: 30px;
    }

    .leagueInfoText {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
    }
    
}

@media screen and (max-width: 500px) {
    .leagueInfoLogo {
        height: 25px;
        margin-right: 20px;
    }
    
    .leagueInfoFlag {
        display: flex;
        align-self: center;
        height: 20px;

    }
    .leagueLogoText {
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }
    .leagueHeaderContainer {
        width: 90%;
    }
    .leaguInfoText {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 700;
    }
    
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .leagueInfoLogo {
        height: 60px;
        margin-right: 20px;
    }
    
    .leagueInfoFlag {
        display: flex;
        align-self: center;
        height: 40px;
    }
}