.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    
    margin-top: 100px;
    margin-bottom: 0px;
}

.ui.MenuChoice.menu {
    margin: 0px;
    width: 70%;
}

.item {
    width: 33.36%;
    justify-content: center;
}

.menuText {
    font-weight:700;
    font-size: 1.2rem;
    font-family: 'Titillium Web', sans-serif;

}
.ui.fluid.selection.dropdown {
    width: 70%;
}

.selected.item {
    width: 100%;
}

.ui.dropdown .menu>.item {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}