.menuContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background-color: red; */
    margin-top: 100px;
    margin-bottom: 0px;
}

.childrenContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background-color: white; */
    margin-bottom: 0px;
    padding-top: 20px;
}

.ui.MenuChoice.menu {
    margin: 0px;
    width: 70%;
}

.item {
    width: 33.36%;
    justify-content: center;
}

.menuText {
    font-weight:700;
    font-size: 1.2rem;
    font-family: 'Titillium Web', sans-serif;
}
.ui.fluid.selection.dropdown {
    width: 70%;
}

.selected.item {
    width: 100%;
}

.ui.dropdown .menu>.item {
    width: 100%; 
}

.donateButton {
    margin-top: 100px;
    /* background-color: red; */
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 60px;
}

@media screen and (max-width: 500px) {
    .ui.fluid.selection.dropdown {
        width: 90%;
    }
    .ui.MenuChoice.menu {
        margin: 0px;
        width: 90%;
    } 
}