.standingsContainer {
    width: 70%;
    margin-top: 20px;

}

@media screen and (max-width: 700px) {
    .standingsContainer {
        width: 95%;
        /* background-color: blue; */
        /* margin-top: 20px; */
        font-size:xx-small;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .standingsContainer {
        /* margin-top: 0; */
        font-size:small
    }
}