.teamColumn {
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content:flex-start;
}

.logoImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.teamInfo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.statsFlex {
    display: flex;
}

@media screen and (max-width: 700px) {
    .logoImg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    
    .teamInfo {
        margin-left: 5px;
        display: flex;
        align-items: center;
        /* background-color: red; */
    }
    
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .logoImg {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        
    }
    
}