.standingsContainer {
    width: 70%;
}

@media screen and (max-width: 700px) {
    .standingsContainer {
        width: 95%;
        /* background-color: blue; */
        font-size:xx-small;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .standingsContainer {
        font-size:small
    }
}