.statisticsContainer {
    /* background-color: red; */
    width: 65%;
    padding-top: 100px;
}

.ui.grid.statisticsContainer {
    margin-top: 20px;
}


@media screen and (max-width: 700px) {
    .statisticsContainer {
        /* background-color: red; */
        width: 65%;
        padding-top: 100px;
    }
}

@media screen and (min-width: 700px) and (max-width: 990px) {
    .statisticsContainer {
        /* background-color: red; */
        width: 80%;
        padding-top: 100px;
    }
}

 @media screen and (min-width: 990px) and (max-width: 1145px) {
    .statisticsContainer {
        /* background-color: red; */
        width: 65%;
        padding-top: 100px;
    }
}