.playerPicTop {
    height: 20%;
    width: 20%;
}

.playerPicSecond {
    height: 30%;
    width: 30%;
    background-color: blue;
}

.playerPicRest {
    height: 30%;
    width: 30%;
    background-color: yellow;
}
